<!-- TODO: styling toevoegen zodat deze worden gecentreerd -->
<div class="main-container">
  <h1>Titel pagina</h1>
  <h2>Subtitel pagina</h2>
  <div class="text-section-block"> 
    <p>Rozen zijn rood, viooltjes zijn blauw....</p>
  </div>

  <section class="main-section">
    <app-randomizer-page></app-randomizer-page>
  </section>

  <section class="main-section">
    <app-carousel></app-carousel>
  </section>

  <section class="main-section">
    <app-collapsible></app-collapsible>
  </section>

</div>
