<!-- TODO: styling toevoegen zodat deze worden gecentreerd -->
<div class="main-container">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
  </p>

  <section class="main-section">
    <app-randomizer-page></app-randomizer-page>
  </section>

  <section class="main-section">
    <!-- Add component of choice -->
  </section>

</div>
