<!-- TODO: styling toevoegen zodat deze worden gecentreerd -->

<div>
  <p>
    possibilities-page works!
  </p>
  
  <!-- TODO: add styling to buttons (voorkeur is ronde buttons) -->
  <button (click)="toggleTypes()">Types</button>
  <button (click)="toggleLevels()">Levels</button>
  <button (click)="toggleOrigins()">Origins</button>

  <!-- TODO: add styling alsof er een haakje boven staat en naar boven wijst (^) -->
  <app-possibility-types [hidden]="!selectedTypes"></app-possibility-types>
  <app-possibility-levels [hidden]="!selectedLevels"></app-possibility-levels>
  <app-possibility-origins [hidden]="!selectedOrigins"></app-possibility-origins>

</div>

