// Collection of all generic variables
// Fonts
$font-family: Arial, Helvetica, sans-serif;

// Font-sizes
$font-size-s: 10px;
$font-size-m: 13px;
$font-size-l: 16px;

// Margins
$margin-left: 15px;

// Color palette
$bat: #000;
$pearl: #fff;
$moss: #82AA84;     //green
$frog: #94BC96;     //lighter green
$grass: #BCE2BE;    //light green
$sunset: #F47D3C;   //orange
$sky: #C3D8EE;      //gray-blue
$pencil: #ACBFD3;   //gray
$night: #93A3B4;    //dark gray

// media queries
$breakpoint-xs: 320px;
$breakpoint-s: 481px;
$breakpoint-m: 768px;
$breakpoint-l: 1024px;
