// Collection of all generic variables

// Fonts
$font-family: Arial, Helvetica, sans-serif;

// Font-sizes
$font-size-s: 10px;
$font-size-m: 13px;
$font-size-l: 16px;

// Color palette
$bat: #000;
$pearl: #fff;
$moss: #82AA84;
$grass: #BCE2BE;
$sunset: #F47D3C;
