@import "shared/variables";

// Collection of all generic styling
p {
    font-family: $font-family;
    font-size: $font-size-l;
    margin: 15px;
}

// Button styling
.primary-button {
    font-family: $font-family;
    background-color: #82AA84;
    font-weight: bold;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 4px;
    cursor: pointer;

    &:focus {
        background-color: $grass;
        outline-color: $grass;
    }
}
