@import "shared/variables";

// Collection of all generic styling
h1 {
    font-family: $font-family;
    font-size: 32px;
    margin: 20px $margin-left;
}

h2 {
    font-family: $font-family;
    font-size: 22px;
    margin: 10px $margin-left;
}

h3 {
    font-family: $font-family;
    font-size: 20px;
    margin: 5px $margin-left;
}

h4 {
    font-family: $font-family;
    font-size: 18px;
    margin: 5px $margin-left;
}

p {
    font-family: $font-family;
    font-size: $font-size-l;
    margin: 5px $margin-left;
}

// Button styling
.primary-button {
    font-family: $font-family;
    background-color: #82AA84;
    font-weight: bold;
    outline: none;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
        background-color: $frog;
        outline: none;
    }

    &:active {
        background-color: $grass;
        outline: none;
    }
}

.close-button {
    float: right;
    margin: 10px;
    color: $pearl;
    background-color: $sky;
    border: 0;
    border-radius: 3px;
    outline: 0;
    
    &:hover {
        cursor: pointer;
        background-color: $pencil;
    }

    &:active, &:focus {
        background-color: $night;
    }   
}
