<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="topnav" id="myTopnav">
  <a routerLink="/home" routerLinkActive="active">Home</a>
  <a routerLink="/randomizer" routerLinkActive="active">Randomizer</a>
  <a routerLink="/possibilities" routerLinkActive="active">Possibilities</a>
  <a class="right" routerLink="/contact" routerLinkActive="active">Contact</a>
  <a class="right" routerLink="/about" routerLinkActive="active">About</a>
  <a href="javascript:void(0);" class="icon" (click)="toggleMenu()">
    <i class="fa fa-bars"></i>
  </a>
</div>