@import "../../shared/variables";

.accordion {
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;

    &:after {
        content: '\002B';
        font-weight: bold;
        float: right;
        margin-left: 5px;  
    }
}
