<footer class="footer">
  <div class="inner_footer">
    <div class="logo_container">
      <img src="/assets/images/template_logo.png">
    </div>
  
    <div class="footer_third">
      <h1>Need help?</h1>
      <a href="#">Terms &amp; Conditions</a>
      <a href="#">Privacy policy</a>
    </div>

    <div class="footer_third">
      <h1>More</h1>
      <a routerLink="/contact" routerLinkActive="active">Contact</a>
      <a routerLink="/about" routerLinkActive="active">About</a>
    </div>
    
    <div class="footer_third">
      <span>
        &copy; Leslie van der Gaag<br>
        Utrecht<br>
        The Netherlands<br>
      </span>
    </div>

  </div>
</footer>