<!-- TODO: add pretty styling -->
<p>
  TODO: voeg informatie toe
</p>

<button id="create-character-button" (click)="createResultDiv()">Create character</button>

<!-- TODO: add calculating animation, before showing div below -->
<div class="result-card" id="result-card-character" hidden>
  <div class="result-container">
    <h4><b>Created character</b></h4>

    <!-- TODO: create pretty list -->
    <p>
      Main element type: <span id="result-type"></span> (rarity level: <span id="result-rarity"></span>) <br>
      Supporting element type: <span id="result-suptype"></span> (rarity level: <span id="result-suprarity"></span>)
    </p>  
  </div>
</div>
